html,
body {
  height: 100%;
  margin: 10px;
  padding: 10px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial;
  font-size: 24px;
}
main {
  width: 100%;
  max-width: 100%;
  padding: 1;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba(255, 192, 203, 0.829);
}
section {
  margin-bottom: 1.5rem;
}
img {
  max-width: 100%;
  height: 200px;
  display: inline-block;
  margin: 0px;
  width: 300px;
}
figure {
  margin: 0 auto;
  text-align: center;
}
ul,
ol {
  display: inline-block;
  text-align: left;
  margin: 0 0;
  list-style-type: none;
  
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}
fieldset {
  width: 100%;
  max-width: 600px;
  border: 2px solid black;
}
footer {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  background-color: rgba(201, 201, 198, 0.507);
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  text-align: center;
  align-content: center;
  align-items: center;
  text-wrap: wrap;
}
.container div {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.link{
    text-decoration: underline;
}
a {
    text-decoration: none;
}
a:hover{ 
    font-style: italic;
    color: black;
    font-size: 28px;
}
.background-image {
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: -1;
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
}
ul{color: rgb(56, 197, 27);}
ol{color: red;}